<div class="container">
  <h5>Araçları Filtrele</h5>
    <div class="row">
        <div class="col-md-4">
            <select  [(ngModel)]="currentBrandId"  class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Marka Seçin</option>
                <option  [value]="brand.brandId"  *ngFor="let brand of brands ">{{brand.brandName}}</option>
            </select>
        </div>
        
        <div class="col-md-4">
          <select [(ngModel)]="currentColorId" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option  selected>Renk Seçin</option>
            <option [value]=color.colorId  *ngFor="let color of colors">{{color.colorName}}</option>
          </select>
        </div>
          <div class="btn-group col-md-4" role="group" aria-label="Basic mixed styles example">
            <button (click)="filter()"  type="button" class="btn btn-success">Filtrele</button>
            <button routerLink="/cars" type="button" class="btn btn-warning">Temizle</button>
          </div>
    </div>
</div>