 <br>
 <h4 style="text-align: center">Markalar </h4>

<div class="mb-3">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
   placeholder="Brand Search">
</div>
<div *ngIf="filterText" class="alert alert-info">
  {{filterText}} için arama sonuçları
</div>  
 <table class="table">
  <tr scope="col" [class]="getAllBrandClass()"  routerLink="/cars/">Tüm Araçlar</tr>
  <tbody>
    <tr (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.brandId}}"
     *ngFor="let brand of brands | brandFilter:filterText" 
     [class]="getCurrentBrandClass(brand)">
      <td scope="col">{{ brand.brandName }}</td>
    </tr>
  </tbody>
</table> 
<!-- <ul class="list-group">
  <div class="mt-1 mb-3">
    <li
      (click)="getAllCars()"
      class="list-group-item list-group-item-dark"
      aria-disabled="true"
      routerLink="cars"
      display="inline"
    >
      <h5>All Cars</h5>
    </li>
  </div>
  <li class="list-group-item list-group-item-dark" aria-disabled="true">
    <div
      class="btn w-100 text-start"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      <h5>Brands</h5>
    </div>
  </li>
  <li
    id="collapseExample"
    (click)="doFilter(brand)"
    [class]="getCurrentBrandClass(brand)"
    *ngFor="let brand of brands  "
  >
    <h6>{{ brand.brandName }}</h6>
  </li>
</ul>
 -->