<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="http://localhost:5000/Images/39c95cf9-d5bc-4e92-8869-ba6ff07464ff.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="http://localhost:5000/Images/535d6f73-d266-4de6-9057-18e46bc4c931.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="card col-lg-4">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card with stretched link</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
      </div>
    </div>
    <div class="card col-lg-4">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card with stretched link</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
      </div>
    </div>
    <div class="col-lg-4">
      <svg
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 140x140"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" />
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>

      <h2>Heading</h2>
      <p>
        And lastly this, the third column of representative placeholder content.
      </p>
      <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="http://localhost:5000/home1.jpg"
        class="w-100"
        alt="..."
      />
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Çok uygun fiyatlara araç kiralayın.<span class="text-muted"
          >Türkiye'nin en uygun fiyatlı araç kiralama sitesi.</span
        >
      </h2>
      <p class="lead"></p>
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        İstediğiniz tarihte istediğiniz aracı kiralayın.
        <span class="text-muted"
          >Hiç aklınızda soru işareti kalmadan kendi aracınız gibi
          kullanın.</span
        >
      </h2>
      <p class="lead"></p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="http://localhost:5000/home2.jpg"
        class="w-100"
        alt="..."
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="http://localhost:5000/home3.jpg"
        class="w-100"
        alt="..."
      />
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Hijyen konusunda hiç şüpheniz olmasın.<span class="text-muted"
          >Araçlar düzenli olarak temizlenmektedir.</span
        >
      </h2>
      <p class="lead"></p>
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
