<br>
<br>
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<br>
<div class="p-3 mb-2 bg-dark bg-gradient text-white">En çok tercih edilen araçlarımız</div>
<div class="container marketing">
  
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="card col-lg-4">
      <br>
      <img src="http://localhost:5000/Images/e679dfe4-9001-4ae5-9af0-92e965728a5c.png" class="card-img-top" alt="..." />
      <br>
      <div class="card-body">
        <h2>FORD Mustang | Black</h2>
        <p>
          And lastly this, the third column of representative placeholder content.
        </p>
        
        <p><a class="btn btn-dark" href="http://localhost:4200/detail/5009">Araç Detayları &raquo;</a></p>
      </div>
    </div>
    <div class="card col-lg-4">
      <img src="http://localhost:5000//Images/433ad6c4-996c-44cc-879f-df4e99ce6d56.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2>BMW 5 Series | Blue</h2>
        <p>
          And lastly this, the third column of representative placeholder content.
        </p>
        <p><a class="btn btn-dark" href="http://localhost:4200/detail/3">Araç Detayları &raquo;</a></p>
      </div>
    </div>
    <div class="card col-lg-4">
      <img src="http://localhost:5000//Images/bb5873ce-a4c2-45e6-9722-9098c25490b8.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2>BMW 5 Series | Red</h2>
        <p>
          And lastly this, the third column of representative placeholder content.
        </p>
        <p><a class="btn btn-dark" href="http://localhost:4200/detail/2005">Araç Detayları &raquo;</a></p>
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="http://localhost:5000/home1.jpg"
        class="w-100"
        alt="..."
      />
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Çok uygun fiyatlara araç kiralayın.<span class="text-muted"
          >Türkiye'nin en uygun fiyatlı araç kiralama sitesi.</span
        >
      </h2>
      <p class="lead"></p>
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        İstediğiniz tarihte istediğiniz aracı kiralayın.
        <span class="text-muted"
          >Hiç aklınızda soru işareti kalmadan kendi aracınız gibi
          kullanın.</span
        >
      </h2>
      <p class="lead"></p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="http://localhost:5000/home2.jpg"
        class="w-100"
        alt="..."
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="http://localhost:5000/home3.jpg"
        class="w-100"
        alt="..."
      />
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Hijyen konusunda hiç şüpheniz olmasın.<span class="text-muted"
          >Araçlar düzenli olarak temizlenmektedir.</span
        >
      </h2>
      <p class="lead"></p>
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
