<br>
<h5 class="alert alert-info mt-3">Kullanıcı Listesi</h5>
<h4 style="text-align: center">Customer</h4>

<table class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">CustomerCompanyName</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td scope="col">{{ customer.customerId }}</td>
      <td scope="col">{{ customer.companyName }}</td>
      <td scope="col">{{ customer.firstName }}</td>
      <td scope="col">{{ customer.lastName }}</td>
    </tr>
  </tbody>
</table>