<br>
<div class="container">
  <div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Şirket hesabı oluştur</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="customerAddForm">
            <input formControlName="userId" type="hidden" />
            <input formControlName="findexScore" type="hidden" />
            <div class="mb-3">
              <label for="companyName">Şirket Adı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="companyName"
                  formControlName="companyName"
                  class="form-control"
                  placeholder="Şirket Adı"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-warning" (click)="add()">
          Şirket hesabı oluştur
        </button>
      </div>
    </div>
  </div>
</div>
